---
title: Blog
layout: post
---

{% for post in site.posts %}
  <article>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p>{{ post.date | date: "%B %-d, %Y" }}</p>
    <p>{{ post.description }}</p>
    {% if post.img %}
      <img src="{{ post.img }}" style="max-height: 200px;">
    {% endif %}
    <br>
    {% if post.external_url and post.external_url != "" %}
      <a href="{{ post.external_url }}" target="_blank">More Information</a>
    {% else %}
      <a href="{{ post.url }}" target="_blank">More Information</a>
    {% endif %}
  </article>
{% endfor %}
